@{
    Layout=null;
}

<!DOCTYPE html>
<html>
@Html.Partial("_head")
<body class="landing-page sidebar-collapse">
    @Html.Partial("_nav")

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/passion-led-us-here.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">I'm Johan</h1>
                    <h4>Doing what I like, and liking what I do</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title mb-5">
                            <h1>Latest posts</h1>
                        </div>

                        @foreach(IDocument post in Model.DocumentList(Keys.PageDocuments))
                        {
                            @Html.Partial("_PostPartial", post)
                        }
                    </div>

                    <div class="col-md-4">
                        
                        <h1>Tags</h1>

                        <div>
                            @Html.Partial("_AllTagsAsPillPartial")
                        </div>
                    </div>
                </div>

                @if(Model.Bool(Keys.HasPreviousPage)) {
                    <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a> 
                } 

                @if(Model.Bool(Keys.HasNextPage)) {
                    <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a> 
                }

                @if(Context.Bool(BlogKeys.GenerateArchive))
                {
                    <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Archive &rarr;</a>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_footer")
    @Html.Partial("_scripts")
</body>
</html>

