<!DOCTYPE html>
<html>
@Html.Partial("_head")
<body class="profile-page sidebar-collapse">
    @Html.Partial("_nav")

    @RenderBody()

    @Html.Partial("_footer")
    @Html.Partial("_scripts")
</body>
</html>
