<!DOCTYPE html>
<html>
@Html.Partial("Partials/_Head")
<body class="profile-page sidebar-collapse">
    @Html.Partial("Partials/_Nav")

    @RenderBody()

    @Html.Partial("Partials/_Footer")
    @Html.Partial("Partials/_Scripts")
</body>
</html>