@model IDocument

@{
    var tags = Model.WithoutSettings.Get<IEnumerable<string>>(BlogKeys.Tags);
}

<div class="card mb-5">
    <div class="card-header card-header-primary">
        @Model.WithoutSettings.String(BlogKeys.Title)
    </div>
    <div class="card-body">
            @Html.Raw(Model.String(BlogKeys.Excerpt))
        <a href="@Context.GetLink(Model)">Keep reading <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>  
    </div>
    <div class="card-footer">
        <div class="container-fluid">
            <div class="d-flex flex-row-reverse">
                <div class="p-1">
                    @Html.Partial("Partials/Posts/_AuthorAndPublishedPartial")
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-1">
                    @Html.Partial("Partials/Tags/_AllTagsForPostPartial")  
                </div> 
            </div>
        </div>
    </div>
</div>


